{
  "PublisherId": "CN=7D59E508-219F-4F34-93B3-5E13000D6C21",
  "PublisherDisplayName": "Xaqqa",
  "PackageIdentityName": "6820Xaqqa.ExtraCrispy",
  "DisplayName": "Extra Crispy",
  "AppId": "9NW1S01HN3F6",
  "ProductFamilyName": "6820Xaqqa.ExtraCrispy_fv542fav885h2",
  "PrimaryServiceConfigId": "00000000-0000-0000-0000-00006aa197d9",
  "TitleId": 1788975065,
  "Sandbox": "LTVTSB.58",
  "XboxLiveCreatorsTitle": true
}